<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Count down{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div align="center">
<h1>{{countdown.days}} Days, {{countdown.h}} hours, {{ countdown.i }} minutes, {{ countdown.s }} seconds Left Till Christmas</h1>
<img src="{{asset('images/gavin-gallery-photo.jpeg')}}">
</div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
